*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: rgb(38, 38, 38);
    color: rgb(224, 233, 255);
}

.main {
    display: flex;
}

.topBar {
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
}

.grilleTableau {
    display: flex;
    justify-content: start;
    margin-top: 150px;
    margin-left: 150px;
}

table {
    background-color: rgb(20, 20, 20);
    padding: 15px;
}

th {
    font-size: 1.5rem;
    padding-bottom: 20px;
}

.case {
    height: 50px;
    width: 50px;
    background-color: rgb(224, 233, 255);
}


/* ********************************************************** */


.carousel {
    width: 300px;
    height: 250px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);

}

.carousel:hover .controls {
    opacity: 1;
}

.controls {
    opacity: 0;
    display: flex;
    position: absolute;
    top: 50%;
    left: 0;
    justify-content: space-between;
    width: 100%;
    z-index: 99999;
    transition: all ease 0.5s;


}

.control {
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: .5;
    transition: ease .3s;
    cursor: pointer;


}


.control:hover {
    opacity: 1;
}

.slides {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
    transition: 1s ease-in-out all;

}

.slide {
    min-width: 100%;
    min-height: 250px;
    height: auto;
}

/* ********************************************************** */