@font-face {
    font-family: Game;
    src: url(../fonts/ChakraPetch-Regular.ttf);
}

@font-face {
    font-family: Game-bold;
    src: url(../fonts/ChakraPetch-Bold.ttf);
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Game';
    background-color: rgb(38, 38, 38);
    color: rgb(224, 233, 255);
    overflow: hidden;
}


/* **************************************** */
/* Fenetre modal  */
.overlay {
    display: block;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    width: 500px;
    height: 500px;
    background-color: rgb(38, 38, 38);
    display: block;
}

#modal-btn {
    font-size: x-large;
    cursor: pointer;
}

.modalContenue {
    margin-top: 50px;
}

/* **************************************** */

h1 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: rgb(224, 233, 255);
}

.topBar {
    display: flex;
    justify-content: space-between;
    margin: 20px 100px;
}

.main {
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}

.grilleTableau {
    text-align: center;
}

th {
    font-size: 1.5rem;
    padding-bottom: 30px;
}

tbody {
    cursor: url(../img/cursorBlack.png)8 6, default;
}

.caseBataille {
    height: 50px;
    width: 50px;
    background-color: rgb(224, 233, 255);
}

#plateau {
    background-color: rgb(20, 20, 20);
    padding: 15px;
}


/* ********************************************************** */
/* Carousel */

.containerCarousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleMissile {
    text-align: center;
    padding: 20px;
    width: 300px;
    background-color: rgb(20, 20, 20);
    margin-bottom: 10px
}

.span {
    color: rgb(232, 107, 30);
}

.carousel {
    width: 300px;
    height: 250px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.carousel:hover .controls {
    opacity: 1;
}

.controls {
    opacity: 0;
    display: flex;
    position: absolute;
    top: 100px;
    left: 0;
    justify-content: space-between;
    width: 100%;
    z-index: 99999;
    transition: all ease 0.5s;
}

.control {
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(38, 38, 38);
    opacity: .5;
    transition: ease .3s;
    cursor: pointer;
}


.control:hover {
    opacity: 1;
}

.slides {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
    transition: 1s ease-in-out all;
}

.slide {
    min-width: 100%;
    min-height: 250px;
    height: auto;
}

img {
    width: 300px;
}

#btnPlay {
    padding: 10px;
    margin-top: 150px;
    width: 200px;
    border-radius: 15px;
    font-family: 'Game-bold';
    font-size: 1rem;
    background-color: rgb(232, 107, 30);
    color: rgb(224, 233, 255);
    border: hidden;
    cursor: pointer;
    transition: 0.2s ease-in;
}

#btnPlay:hover {
    transform: scaleY(1.2);
    width: 250px;
}

.win {
    margin-top: 20px;
}

/* ********************************************************** */