.title,
.ind {
    color: blue;
}

.bod {
    background-color: gray;
}

.img_title {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.page {
    text-align: center;
    position: relative;
    width: 500px;
    padding: 10px;
    top: 25%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    background-color: whitesmoke;
    box-shadow: rgba(50, 50, 51, 0.9) 5px 5px 20px 5px;
}